.close {
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 12pt;
    font-weight: bold;
    margin-left:10px;
    margin-top: -2px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.msg_error, .msg_info, .msg_success, .msg_warning{
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    -o-border-radius: 4px 4px 4px 4px;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    border-radius: 4px 4px 4px 4px;
    border:1px solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #FFFFFF;
    font-family: arial;
    font-size: 0.8em;
    height:19px;
    padding: 7px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    z-index:2000;
}
.msg_error{
    *border:none;
    *width:300px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EE5F5B), to(#C43C35)) !important;
    background:-moz-linear-gradient(center top , #EE5F5B, #C43C35) repeat scroll 0 0 transparent !important;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color:#EAEAEA !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EE5F5B, endColorstr=#C43C35) !important;
    position:absolute;
}
.msg_info{
    background: #FDF5D9;
    border-color:#FCEEC1;
    color:#404040;  
    position:absolute;
}
.msg_success,{
    *border:none;
    *width:170px;
    background: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background: -webkit-gradient(linear, left top, left bottom, from(#5BC0DE), to(#339BB9));
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFF;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5BC0DE, endColorstr=#339BB9);
    left:0px !important;
    position:relative;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    z-index:4000;
}
.msg_warning{
    *border:none;
    *width:200px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCEEC1), to(#EEDC94));
    background:-moz-linear-gradient(center top , #FCEEC1, #EEDC94);
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#404040;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCEEC1, endColorstr=#EEDC94);
    position:absolute;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}